---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import MovieCard from "../components/MovieCard.astro";
import PlaylistCard from "../components/PlaylistCard.astro";

const movies = await getCollection(
  "movies",
  ({ data }) => data.favorite === true,
);
const playlists = await getCollection(
  "playlists",
  ({ data }) => data.favorite === true,
);
---

<Layout title="Entertainment">
  <section id="favorite-movies" class="m-6 grid grid-cols-6 gap-6">
    {movies.map(({ data: movie }) => <MovieCard movie={movie} />)}
  </section>
  <section id="favorite-playlists" class="m-6 grid grid-cols-6 gap-6">
    {
      playlists.map(({ data: playlist }) => (
        <PlaylistCard playlist={playlist} />
      ))
    }
  </section>
</Layout>
